<header class="game-header" xmlns:th="http://www.thymeleaf.org">
    <div class="logo">
        <h1>Underground Guardian</h1>
    </div>
    <div class="player-stats">
        <span class="nickname" th:text="${gameCharacter.nickName}"></span>
        <div class="stat-container">
            <label>EXP</label>
            <progress
                    class="exp-bar"
                    th:value="${gameCharacter.experience}"
                    th:attr="max=${gameCharacter.expForNextLevelUp}">
            </progress>
        </div>
        <div class="stat-container">
            <label>HP</label>
            <progress
                    class="health-bar"
                    th:value="${gameCharacter.currentHealth}"
                    th:attr="max=${gameCharacter.health}">
            </progress>
        </div>
        <div class="stat-container">
            <label>Energy</label>
            <progress
                    class="energy-bar"
                    th:value="${gameCharacter.currentEnergy}"
                    th:attr="max=${gameCharacter.energy}">
            </progress>
        </div>
        <span class="level">Level: <span th:text="${gameCharacter.level}">0</span></span>
        <p>Gold: <span th:text="${gameCharacter.gold}"></span></p>
    </div>
    <nav>
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>
