<nav class="game-menu" th:fragment="menu" xmlns:th="http://www.thymeleaf.org">
    <ul class="menu-list">
        <li><a th:href="@{/game/dashboard}">Dashboard</a></li>
        <li><a th:href="@{/game/train-stats}">Training Hall</a></li>
        <li><a th:href="@{/game/underground}">Underground</a></li>
        <li><a th:href="@{/game/inventory}">Inventory</a></li>
        <li><a th:href="@{/game/shop}">Shop</a></li>
        <li><a th:href="@{/notifications}">Notifications</a></li>
        <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <a th:href="@{/admin/manage-roles}">Manage User Roles</a>
        </li>

    </ul>
</nav>
